<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyperswitchsdkreactnative">
	<application>
		<activity android:name="com.juspaytech.reactnativehyperswitch.payments.gpay.GooglePayActivity" android:exported="false">
		</activity>
		<meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
	</application>
</manifest>
